services:
  backend:
    build: ./backend
    container_name: skypath_backend
    volumes:
      - ./flights.json:/app/flights.json
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    container_name: skypath_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8000
